# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs
/FoodShop/.vs/FoodShop
/FoodShop/FoodShop/bin/Debug/netcoreapp3.1
/FoodShop/FoodShop/obj
/FoodShop/FoodShop.CognitiveServices.Core/obj
/FoodShop/FoodShop.CognitiveServices.Core/bin/Debug/netcoreapp3.1/FoodShop.CognitiveServices.Core.deps.json
/FoodShop/FoodShop.CognitiveServices.Core/bin/Debug/netcoreapp3.1
/FoodShop/FoodShop.CognitiveServices.Data/obj
/FoodShop/FoodShop.CognitiveServices.Domain/obj
/FoodShop/FoodShop.CognitiveServices.Domain/bin/Debug/netcoreapp3.1/FoodShop.CognitiveServices.Domain.deps.json
/FoodShop/FoodShop.CognitiveServices.Domain/bin/Debug/netcoreapp3.1
/FoodShop/FoodShop.Core/bin/Debug/netcoreapp3.1
/FoodShop/FoodShop.Core/obj
/FoodShop/FoodShop.Data/bin/Debug/netcoreapp3.1
/FoodShop/FoodShop.Data/obj
/FoodShop/FoodShop.DataContract/bin/Debug/netcoreapp3.1
/FoodShop/FoodShop.DataContract/obj
/FoodShop/FoodShop.Domain/bin/Debug/netcoreapp3.1
/FoodShop/FoodShop.Domain/obj
